<div class="col-md-4 offset-md-4">
        <select class="form-control"  (change)="getCountryNews($event)" >
        <option  value="in">India</option>
        <option  value="us">United States</option>
        <option  value="ua">Dubai</option>
        <option  value="ru">Russia</option>
    </select>
    </div>
    <div class=" col-md-3 float-left card card-body" style="height:350px"  *ngFor="let new of news">
     <a href="{{new.url}}">
        <img src="{{new.urlToImage}}" class="card-img-top"  style="height:250px"  alt="" >
        <h6>{{new.title}}</h6>
    </a>
    </div>
