<h1 [innerText]="name"></h1>
<img [src]="imgaUrl" alt="" [class.rounded-circle]='isActive'>
<h1 [style.color]='colorName' [class.bg-dark]='isActive' [class.bg-primary]='!isActive'>{{address}}</h1>
<table class="table table-dark table-bordered table-striped table-hover">
    <thead >
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>contact</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sanmathi</td>
            <td>23</td>
            <td>456545445</td>
            <td>456545445</td>

        </tr>
        <tr>
            <td>sanmathi</td>
            <td>23</td>
            <td>456545445</td>
            <td>456545445</td>

        </tr>
        <tr>
            <td>sanmathi</td>
            <td>23</td>
            <td>456545445</td>
            <td>456545445</td>

        </tr>
    </tbody>
</table>