<div _ngcontent-uqf-c3="" class="col-md-4 offset-md-4">
        <select class="form-control"  (change)="getCategoryNews($event)" >
                <option  value="General">General</option>
                <option  value="Entertainment">Entertainment</option>
                <option  value="Business">Business</option>
                <option  value="Science">Science</option>
                <option  value="Health">Health</option>
                <option  value="Sports">Sports</option>
                <option  value="technology">Technology</option>
    </select>
    </div>
    <div class=" col-md-3 float-left card card-body" style="height:350px"  *ngFor="let new of news">
       <a href="{{new.url}}">
        <img src="{{new.urlToImage}}" class="card-img-top"  style="height:250px"  alt="" >
        <h6>{{new.title}}</h6>
    </a>
    </div>