<div class="col-md-3 float-left">
    <h5 class="text-center">Entertainment News</h5>
    <div class="col-md-12 card card-body" *ngFor="let enew of enews">
            <img  alt="Entertainment News Image" class="card-img-top" src="{{enew.urlToImage}}">
    </div>
</div>
       
<div  class="col-md-6 float-left">
    <h3  class="text-center">Top News From India</h3>
    <div _ngcontent-hif-c2="" class="col-md-12 card card-body"  *ngFor="let new of news">
            <img  alt="Entertainment News Image" class="card-img-top" src="{{new.urlToImage}}">

    </div>
   
    
    </div>
    <div  class="col-md-3 float-left">
        <h5  class="text-center">Sports News</h5>
        <div class="col-md-12 card card-body" *ngFor="let snew of snews">
                <img  alt="Entertainment News Image" class="card-img-top" src="{{snew.urlToImage}}">
        </div>
       </div>
       
         